.nav-link{
  color: #fff;
}

.inline{
  display: inline-block;
}

.pictureContainer{
	width: 100%;
	padding-left:30em;
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.indexTitleLink{
  color: #000;
  text-decoration: none;
}

.indexTitleLink:hover{
  color: #000;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, a{
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}

p, .btn{
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;

}
