<!doctype html>
<html lang="en">

<head>
  <title>Paint EFZ</title>

  <link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/site.css" />
</head>

<body>
  <header>
    <div class="navbar navbar-expand navbar-dark bg-dark">
      <div class="container">
        <a href="index.html" class="navbar-brand">
          <strong>Paint EFZ</strong>
        </a>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a href="Fabian.html" class="nav-link">
                <strong>Fabian</strong>
              </a>
            </li>
            <li class="nav-item active">
              <a href="Nick.html" class="nav-link">
                <strong>Nick</strong>
              </a>
            </li>
            <li class="nav-item active">
              <a href="Lars.html" class="nav-link">
                <strong>Lars</strong>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Journal Fabian</h1>
      </div>
    </section>



    <div class="pictureContainer">
      <h2 style="margin-left: 9em">Fotopirsch 1: Gefrorene Welt</h2>


      <div class="card" style="width: 18rem; display: inline-block; margin: 2em;">
        <img class="card-img-top" src="../pictures/fotopirsch1/P1040184.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Schachspiel</h5>
          <p class="card-text">Die Vogelperspektive ist zwar interessant, die Perspektive könnte jedoch besser sein. Zudem ist kein eindeutiges Objekt erkennbar.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem; display: inline-block; margin: 2em;">
        <img class="card-img-top" src="../pictures/fotopirsch1/P1040191.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Tisch</h5>
          <p class="card-text">Das Objekt ist klar erkennbar und die Perspektive ist auch gut gelungen. Der Hintergrund könnte besser sein.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem; display: inline-block; margin: 2em;">
        <img class="card-img-top" src="../pictures/fotopirsch1/P1040212.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Beschneiter Busch</h5>
          <p class="card-text">Das Objekt ist erkennbar, die Perspektive jedoch nicht so gut. Auch der Hintergrund ist zu unruhig.</p>
        </div>
      </div>

      <br>

      <h2 style="margin-left: 9em">Fotopirsch 2: Gefrorene Welt</h2>


      <div class="card" style="width: 18rem; display: inline-block; margin: 2em;">
        <img class="card-img-top" src="../pictures/fotopirsch2/P1040383.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Eisstuhl</h5>
          <p class="card-text">Ich versuchte nahe ans Objekt heranzugehen, hätte aber noch etwas näher herangehen können. Der Versuch das Bild simpel zu halten, ging etwas schief, da im Hintergrund schon sehr viel zu sehen ist.<br></p>
        </div>
      </div>
      <div class="card" style="width: 18rem; display: inline-block; margin: 2em;">
        <img class="card-img-top" src="../pictures/fotopirsch2/P1040416.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Tau im Gras</h5>
          <p class="card-text">Dies ist meiner Meinung nach mein bestes Bild bis jetzt. Ich finde es ist gut ausbalanciert und simpel gehalten. Ich ging auch extrem nahe ans Objekt heran. Der Hintergrund ist leider etwas überbelichtet.<br></p>
        </div>
      </div>
      <div class="card" style="width: 18rem; display: inline-block; margin: 2em;">
        <img class="card-img-top" src="../pictures/fotopirsch2/P1040401.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Baumstumpf</h5>
          <p class="card-text">Das Objekt ist in der Mitte, was das Bild etwas langweilig macht. Der Hintergrund ist auch zu unruhig, sprich das Bild ist nicht simpel gehalten. Leider ist zudem das ganze Bild etwas überbelichtet.<br></p>
        </div>
      </div>
      <br>

    </div>

  </main>

  <footer class="text-muted">
    <!--TODO-->
  </footer>

</html>
