
<!doctype html>
<html lang="en">
  <head>
    <title>Paint EFZ</title>

<link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 <link rel="stylesheet" type="text/css" href="../css/site.css" />
  </head>
  <body>
    <header>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="index.html" class="navbar-brand d-flex align-items-center">
        <strong>Paint EFZ</strong>
      </a>
    <a href="Fabian.html" class="nav-link">
      <strong>Fabian</strong>
    </a>
    <a href="Nick.html" class="nav-link">
      <strong>Nick</strong>
    </a>
    <a href="Lars.html" class="nav-link">
      <strong>Lars</strong>
    </a>
  </div>

  </div>
</header>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Journal Fabian</h1>
      </div>
  </section>

  <h2 style="text-align: center;">Fotopirsch 1: Thema Winter</h2>

  <div style="width: 100%; margin: 0 30em;">

  <div class="card" style="width: 18rem; display: inline-block; margin: 2em;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem; display: inline-block; margin: 2em;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem; display: inline-block; margin: 2em;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  </div>

</main>

<footer class="text-muted">
<!--TODO-->
</footer>
</html>
