
<!doctype html>
<html lang="en">
  <head>
    <title>Paint EFZ</title>

<link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 <link rel="stylesheet" type="text/css" href="../css/site.css" />
  </head>
  <body>
    <header>
      <div class="navbar navbar-expand navbar-dark bg-dark">
	  <div class="container">
          <a href="index.html" class="navbar-brand">
            <strong>Paint EFZ</strong>
          </a>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a href="Fabian.html" class="nav-link">
                  <strong>Fabian</strong>
                </a>
              </li>
              <li class="nav-item active">
                <a href="Nick.html" class="nav-link">
                  <strong>Nick</strong>
                </a>
              </li>
              <li class="nav-item active">
                <a href="Lars.html" class="nav-link">
                  <strong>Lars</strong>
                </a>
              </li>
            </ul>
			</div>
      </div>
      </div>
</header>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Paint EFZ</h1>
      </div>
  </section>

  <h1>Loading...</h1>


</main>

<footer class="text-muted">
<!--TODO-->
</footer>
</html>
