
<!doctype html>
<html lang="en">
  <head>
    <title>Paint EFZ</title>

<link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 <link rel="stylesheet" type="text/css" href="../css/site.css" />
  </head>
  <body>
    <header>
      <div class="navbar navbar-expand navbar-dark bg-dark">
	  <div class="container">
          <a href="index.html" class="navbar-brand">
            <strong>Paint EFZ</strong>
          </a>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a href="Fabian.html" class="nav-link">
                  <strong>Fabian</strong>
                </a>
              </li>
              <li class="nav-item active">
                <a href="Nick.html" class="nav-link">
                  <strong>Nick</strong>
                </a>
              </li>
              <li class="nav-item active">
                <a href="Lars.html" class="nav-link">
                  <strong>Lars</strong>
                </a>
              </li>
            </ul>
			</div>
      </div>
      </div>
</header>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Journal Lars</h1>
      </div>
  </section>

  <h2 style="text-align: center;">Fotopirsch 1: Gefrorene Welt</h2>

  <div class="pictureContainer">

  <div class="card" style="width: 18rem; display: inline-block; margin: 2em;">
    <img class="card-img-top" src="../pictures/fotopirsch1/P1040161.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Eiszapfen</h5>
      <p class="card-text">Objekt: Eiszapfen <br> Perspektive: Nahaufnahmne</p>
    </div>
  </div>
  <div class="card" style="width: 18rem; display: inline-block; margin: 2em;">
    <img class="card-img-top" src="../pictures/fotopirsch1/P1040174.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Magisches Dreieck</h5>
      <p class="card-text">Objekt: Anordnung der Tische <br> Perspektive: Vogelperspektive</p>
    </div>
  </div>
  <div class="card" style="width: 18rem; display: inline-block; margin: 2em;">
    <img class="card-img-top" src="../pictures/fotopirsch1/P1040178.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Skulptur</h5>
      <p class="card-text">Objekt: Skulptur der gibb <br> Perspektive: Frontalaufnahme</p>
    </div>
  </div>
  </div>


</main>

<footer class="text-muted">
<!--TODO-->
</footer>
</html>
