<!doctype html>
<html lang="en">

<head>
  <title>Paint EFZ</title>
  <meta charset="UTF-8">
  <link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/site.css" />
</head>

<body>
  <header>
    <div class="navbar navbar-expand navbar-dark bg-dark">
      <div class="container">
        <a href="../index.html" class="navbar-brand">
          <strong>Paint EFZ</strong>
        </a>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a href="Fabian.html" class="nav-link">
                <strong>Fabian</strong>
              </a>
            </li>
            <li class="nav-item active">
              <a href="Nick.html" class="nav-link">
                <strong>Nick</strong>
              </a>
            </li>
            <li class="nav-item active">
              <a href="Lars.html" class="nav-link">
                <strong>Lars</strong>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Journal Lars</h1>
      </div>
    </section>

<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="text-center">Fotopirsch 1: Vom Winter zum Frühling</h2>

      <div class="card" style="width: 18rem; display: inline-block; margin: 2em;">
        <a href="../pictures/fotopirsch1/P1040161.jpg" target="_blank">
          <img class="card-img-top" src="../pictures/fotopirsch1/P1040161.jpg" alt="Card image cap">
        </a>
        <div class="card-body">
          <h5 class="card-title">Eiszapfen</h5>
          <p class="card-text">Das Foto ist mir gut gelungen, das Objekt ist ganz klar der Eiszapfen, der Hintergrund erkennt man jedoch noch ziemlich gut <br></p>
        </div>
      </div>
      <div class="card" style="width: 18rem; display: inline-block; margin: 2em;">
        <a href="../pictures/fotopirsch1/P1040174.jpg" target="_blank">
          <img class="card-img-top" src="../pictures/fotopirsch1/P1040174.jpg" alt="Card image cap">
        </a>
        <div class="card-body">
          <h5 class="card-title">Magisches Dreieck</h5>
          <p class="card-text">Das Objekt ist nicht eindeutig identifizierbar. Die Wahl der Vogelperspektive finde ich hingegen gut.<br></p>
        </div>
      </div>
      <div class="card" style="width: 18rem; display: inline-block; margin: 2em;">
        <a href="../pictures/fotopirsch1/P1040178.jpg" target="_blank">
          <img class="card-img-top" src="../pictures/fotopirsch1/P1040178.jpg" alt="Card image cap">
        </a>
        <div class="card-body">
          <h5 class="card-title">Skulptur</h5>
          <p class="card-text">Die Skulptur ist nicht wirklich im Zentrum. Hintergrund lenkt stark vom Bild ab. Perspektive nicht optimal.<br></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 class="text-center">Fotopirsch 2: Vom Winter zum Frühling</h2>


      <div class="card" style="width: 18rem; display: inline-block; margin: 2em;">
        <a href="../pictures/fotopirsch2/P1040406.png" target="_blank">
          <img class="card-img-top" src="../pictures/fotopirsch2/P1040406.png" alt="Card image cap">
        </a>
        <div class="card-body">
          <h5 class="card-title">Moos am Baum</h5>
          <p class="card-text">Ich probierte das Moos am Baum als Object darzustellen. Zudem sollte das Bild möchlichst simpel sein. Leider ist der Hintergrund nicht passend. Ansonsten finde ich das Bild gut.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem; display: inline-block; margin: 2em;">
        <a href="../pictures/fotopirsch2/P1040394.png" target="_blank">
          <img class="card-img-top" src="../pictures/fotopirsch2/P1040394.png" alt="Card image cap">
        </a>
        <div class="card-body">
          <h5 class="card-title">Gefrorener See</h5>
          <p class="card-text">Ich probierte die gefrorene Lache als Objekt in szene zu setzten. Jedoch hat es kein klares Objket und ist daher nicht gut ausbalanciert. Der Hintergrund ist zu gut erkennbar.<br></p>
        </div>
      </div>
      <div class="card" style="width: 18rem; display: inline-block; margin: 2em;">
        <a href="../pictures/fotopirsch2/P1040391.png" target="_blank">
          <img class="card-img-top" src="../pictures/fotopirsch2/P1040391.png" alt="Card image cap">
        </a>
        <div class="card-body">
          <h5 class="card-title">Ritigampfi ganz gross</h5>
          <p class="card-text">Ich probiere bei dieser Aufnahme möglichst nahe ans Objekt zu gehen. Das Bild ist nicht so gut ausbalanciert, da man am linken rand noch die Kette sieht. Der Hintergrund ist überbelichtet<br></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 class="text-center">Fotopirsch 3: Vom Winter zum Frühling</h2>


      <div class="card" style="width: 18rem; display: inline-block; margin: 2em;">
        <a href="../pictures/fotopirsch3/P1040708.jpg" target="_blank">
          <img class="card-img-top" src="../pictures/fotopirsch3/P1040708.jpg" alt="Card image cap">
        </a>
        <div class="card-body">
          <h5 class="card-title">Beeren in der Luft</h5>
          <p class="card-text">Blende: F/2.8<br>Belichtungszeit:1/1000<br>Kommentar: Ich finde das dass Bild mir gut gelungen ist, jedoch obwohl ich die Blende ganz offen habe, ist der Hintergrund ziemlich scharf.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem; display: inline-block; margin: 2em;">
        <a href="../pictures/fotopirsch3/P1040712.jpg" target="_blank">
          <img class="card-img-top" src="../pictures/fotopirsch3/P1040712.jpg" alt="Card image cap">
        </a>
        <div class="card-body">
          <h5 class="card-title">Moos am Stein</h5>
          <p class="card-text">Blende: F/2.8<br>Belichtungszeit:1/80<br>Kommentar: Dieses Bild gefällt mir sehr gut, dennoch finde ich den Hintergrund viel zu hell. Dem Bild fehlt jedoch rechts ein Objekt zum ausbalancieren</p>
        </div>
      </div>
      <div class="card" style="width: 18rem; display: inline-block; margin: 2em;">
        <a href="../pictures/fotopirsch3/P1040701.jpg" target="_blank">
          <img class="card-img-top" src="../pictures/fotopirsch3/P1040701.jpg" alt="Card image cap">
        </a>
        <div class="card-body">
          <h5 class="card-title">Gräser in der Sonne</h5>
          <p class="card-text">Blende: F/4.5<br>Belichtungszeit:1/400<br>Kommentar: Dieses Bild ist überbelichtet, da man die Sonne direkt sehen kann. Zudem sind die Gras halme nicht richtig scharf. Hierbei habe ich falsch fokusiert.</p>
        </div>
      </div>
    </div>
  </div>
</div>


    </div>


  </main>

  <footer class="text-muted">
    <!--TODO-->
  </footer>

</html>
