<!doctype html>
<html lang="en">

<head>
  <title>Paint EFZ</title>

  <link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/site.css" />
</head>

<body>
  <header>
    <div class="navbar navbar-expand navbar-dark bg-dark">
      <div class="container">
        <a href="../index.html" class="navbar-brand">
          <strong>Paint EFZ</strong>
        </a>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a href="Fabian.html" class="nav-link">
                <strong>Fabian</strong>
              </a>
            </li>
            <li class="nav-item active">
              <a href="Nick.html" class="nav-link">
                <strong>Nick</strong>
              </a>
            </li>
            <li class="nav-item active">
              <a href="Lars.html" class="nav-link">
                <strong>Lars</strong>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading"> Journal Nick</h1>
      </div>
    </section>


    <div class="pictureContainer">
      <h2 style="margin-left: 9em">Fotopirsch 1: Gefrorene Welt</h2>

      <div class="card" style="width: 18rem; display: inline-block; margin: 2em;">
        <img class="card-img-top" src="../pictures/fotopirsch1/P1040189.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Schaukel</h5>
          <p class="card-text">Die Perspektive ist gut, jedoch ein wenig zu weit entfernt. Der Hintergrund ist nicht optimal gewählt. Das Objekt ist nicht erkennbar.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem; display: inline-block; margin: 2em;">
        <img class="card-img-top" src="../pictures/fotopirsch1/P1040192.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Verkehrter Stuhl</h5>
          <p class="card-text">Dieses Bild wurde in der Vogelperspektive geschossen. Das Objekt ist erkennbar, jedoch ist der Hintergrund noch verbesserungswürdig.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem; display: inline-block; margin: 2em;">
        <img class="card-img-top" src="../pictures/fotopirsch1/P1040195.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Eisbank</h5>
          <p class="card-text">Dieses Bild wurde in er Vogelperspektive geschossen. Das Objekt ist nicht richtig erkennbar. Der Hintergrund ist noch verbesserungswürdig.</p>
        </div>
      </div>

      <h2 style="margin-left: 9em">Fotopirsch 2: Gefrorene Welt</h2>


      <div class="card" style="width: 18rem; display: inline-block; margin: 2em;">
        <img class="card-img-top" src="../pictures/fotopirsch2/P1040414.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Tropfen auf dem Gras</h5>
          <p class="card-text">Ich habe versucht das eine Gras in den Vordergrund zu stellen. Mit diesem Hintergrund sieht man das Tau sehr gut. Der Hintergrund hätte ein wenig passender gewählt werden können..</p>
        </div>
      </div>
      <div class="card" style="width: 18rem; display: inline-block; margin: 2em;">
        <img class="card-img-top" src="../pictures/fotopirsch2/P1040411.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Schachfigur</h5>
          <p class="card-text">Ich versuchte die eine Schachfigur in den Vordergrund zu stellen un ddie anderen in den Hintergrund. Ich finde das Bild ist nicht ganz ausbalanciert. Der Hintergrund finde ich passend.<br></p>
        </div>
      </div>
      <div class="card" style="width: 18rem; display: inline-block; margin: 2em;">
        <img class="card-img-top" src="../pictures/fotopirsch2/P1040407.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Baum mit Moos</h5>
          <p class="card-text">Ich versuchte bei diesem Bild möglichst nahe ans Objekt zu gehen. Das Bild ist nicht so gut ausbalanciert, da an der rechten Seite etwas fehlt. Der Hintergrund ist gut<br></p>
        </div>
      </div>

    </div>

  </main>

  <footer class="text-muted">
    <!--TODO-->
  </footer>

</html>
